*{
    box-sizing: border-box;
}

body{
    font-size: 20px;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0;
    margin: 0;
}

.booklist-header{
    background-color: greenyellow;
}
.booklist-header h1{
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

.main{
    padding: 25px 30px;
}

.add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.form-group{
    font-size: 18px;
    padding: 8px 0;
}

.form-group label{
    display: block;
    color: rgb(73, 69, 69);
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input{
    min-width: 500px;
    height: 35px;
    border-radius: 3px;
}

.add-form button{
    margin: 12px 0;
    width: 500px;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: rgb(5, 87, 119);
}

table{
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

table th{
    background-color: rgb(221, 217, 217);
}


table tr td{
    padding: 8px;
    border-bottom: 1px solid grey;
}

.btn-delete{
    text-decoration: none;
    padding: 3px;
    margin: 5px;
    background-color: red;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.alert{
    width: 60%;
    padding: 10px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.alert-success{
    background-color: green;
}

.alert-danger{
    background-color: red;
}

